.form-container {
    padding: 2em;
    background: #43beb1;
}

#employee-table /deep/ .ngx-pagination {
    color: #fff;
    margin: 0; padding: 0;
    display: block;
    padding: 0px;

}

#employee-table {
    background: #43beb1;
    color: #fff;
    display: block;
    box-sizing: border-box;
    margin: 0; padding: 0;
    // line-height: 0;
    padding: 15px;
    font-weight: 600;
    width: 100%;

    // padding: 12px;
    // padding-top: 10px;
    // padding-bottom: -15px;
    // margin-bottom: 0px;

}

.form-control-feedback small {
    font-weight: 600 !important;
    color: #bd1550 !important;
}
