<div class="container">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert" *ngIf="messages.length > 0">
    <ng-container *ngFor="let message of messages">
        <div class="text-{{message.type}}">
          <strong>
            {{message.msg}}
          </strong>
          <button class="btn btn-sm btn-link pull-right" (click)="closeAlert(message)">
            <span class="fas fa-times-circle">
            </span>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-container">
          <h4>Add Employee</h4>
          <form #employeeForm="ngForm" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input type="text" class="form-control" id="name"
               [(ngModel)]="employee.name" #name="ngModel" name="name"
               placeholder="Employees Name" required pattern="[a-zA-Z ]*">
               <div class="form-control-feedback" *ngIf="name.invalid && (name.touched || name.dirty)">
                  <small class="text-danger">
                    <ul>
                      <li>Only alphabets are allowed.</li>
                      <li>No special characters or numbers are allowed.</li>
                    </ul>
                  </small>
                </div>
            </div>
            <div class="form-group">
              <label for="email">Employee Email</label>
              <input type="email" class="form-control" id="email"
              [(ngModel)]="employee.email" #email="ngModel" name="email" placeholder="Email Address" required email>
              <div class="form-control-feedback" *ngIf="email.invalid && (email.touched || email.dirty)">
                  <small class="text-danger">
                    <ul>
                      <li>Please check again if its a valid email address.</li>
                    </ul>
                </small>
              </div>
            </div>
            <div class="form-group">
                <label for="phone">Employee Phone</label>
                <input type="text" class="form-control" id="phone"
                  [(ngModel)]="employee.phone" #phone="ngModel" name="phone"
                  placeholder="Phone Number" required minlength="10" pattern="[0-9\-]{10,12}">
                  <div class="form-control-feedback" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                    <small class="text-danger">
                      <ul>
                        <li>Only numeric characters are allowed.</li>
                        <li>Should be 10 - 12 characters only.</li>
                      </ul>
                    </small>
                  </div>
            </div>

            <button *ngIf="isUpdate" type="submit" class="btn btn-block btn-info"
              [disabled]="employeeForm.invalid" (click)="updateEmployee(); employeeForm.reset()">
              Update Entry
            </button>
            <button *ngIf="!isUpdate" type="submit" class="btn btn-block btn-info"
              [disabled]="employeeForm.invalid" (click)="insertEmployee(); employeeForm.reset()">
              Create Entry
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <span style="padding: 1.5em;"></span>
    </div>

    <div class="row">
      <div class="col-sm-12">
          <h4>Employee Directory</h4>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employeeList | paginate: { itemsPerPage: 4, currentPage: page, id: 'employee-table' }; let i = index">
                <!-- <th scope="row">{{i+1}}</th> -->
                <td>{{ emp.name }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.phone }}</td>
                <td>
                  <div class="text-right">
                    <button class="btn btn-sm btn-info" style="margin: 0 3px;" (click)="loadToUpdate(emp)">
                      <span class="fas fa-pencil-alt"></span>
                    </button>
                    <button class="btn btn-sm btn-danger" style="margin: 0 3px;">
                      <span class="far fa-trash-alt" (click)="deleteEmployee(emp.id)"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row ctrl text-right">
            <div class="col-sm-12">
              <pagination-controls id="employee-table" (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
